@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

:root {
  --primary-color: #FDF4E6;
  --secondary-color: #FFFCF8;
}

.upper-container {
  height: 60vh;
  background-color: var(--primary-color);
  width: 100vw;
  position: relative;
}

.left-design {
  position: absolute;
  width: 60vw;
  height: 60vh;
  background-color: var(--secondary-color); /*lightcolor - bottom left*/
  border-radius: 50%;
  top: 45vh;
  z-index: 1;
  border-top-left-radius: 10%;
  border-top-right-radius: 90%;
}

.lower-container {
  width: 100vw;
  height: 40vh;
  background-color: var(--secondary-color);
}


.right-design {
  position: absolute;
  width: 60vw;
  height: 60vh;
  background-color: var(--primary-color); /*darkcolor object - bottom right*/
  border-radius: 50%;
  top: 15vh;
  left: 48vw;
  z-index: 0;
}


.content-box {
  position: absolute;
  width: 50vh;
  height: 60vh;
  background-color: #FFFFFF;
  border-radius: 8%;
  box-shadow: 5px 10px 18px #170040;
  z-index: 4;
  top: 25%;
  left: 50%;
  margin-left: -25vh;
}

h1 {
  position: absolute;
  z-index: 1;
  font-size: 8vh;
  font-family: 'Lora', serif;
  text-align: center;
  width: 100%; /* Must be set to use text-align: center bcoz the absolutely positioned elements takes up the width of content */
}

section {
  font-family: 'Lora', serif;
  text-align: center;
  font-size: 3vh;
}

.bill-next-btn {
  display: block;
  text-align: center;
  margin: 1rem auto;
}

.paid-next-btn {
  display: none;
  text-align: center;
  margin: 1rem auto;
}

.paid-container {
  display: none;
}

.notes-container {
  display: none;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table td {
  border: 1px solid black;
  font-size: 2vh;
  width: 4vh;
  text-align: center;

}

input {
  text-align: center;
}